<head>
	<meta content="en-au" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Harmonic sandpile identity dynamics - {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/css/style.css" />
	<meta name="apple-mobile-web-app-title" content="Harmonic sandpile identity dynamics" />
	<meta name="application-name" content="Harmonic sandpile identity dynamics" />
	<meta name="theme-color" content="#ffffff" />
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.github.url }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ site.github.url }}/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.github.url }}/favicon-16x16.png">
	<script type="text/javascript" src="{{ site.github.url }}/scripts/scripts.js"></script>
</head>
