<div class="rightBox">
	 <div class="rightBoxHeader">
		   <div class="plusMinusSign"><a href="javascript:minimizeMaximize('mathBackground');"><img src="{{ site.github.url }}/img/minus.gif" class="plusMinusSign" id="mathBackground-plusMinus" /></a></div>
		   Mathematical Background
	  </div>
	  <div class="rightBoxMain" id="mathBackground" style="display:block">
		<p>For the mathematical background on the sandpile identity dynamics, please read:</p>
		<p>
			Moritz Lang and Mikhail Shkolnikov (2018).
			<i>Harmonic dynamics of the Abelian sandpile.</i>
			ArXiv preprint  arXiv:1806.10823.<br />
		</p>
		<p style="text-align:right;"><a href="{{ site.github.url }}/bibtex.bib" target="_blank">BibTeX</a>&nbsp;&nbsp;<a href="https://arxiv.org/abs/1806.10823" target="_blank">View</a></p>
	  </div>
</div>

<div class="rightBox">
	 <div class="rightBoxHeader">
		   <div class="plusMinusSign"><a href="javascript:minimizeMaximize('downloadNow');"><img src="{{ site.github.url }}/img/minus.gif" class="plusMinusSign" id="downloadNow-plusMinus" /></a></div>
		   Download InterPile
	  </div>
	  <div class="rightBoxMain" id="downloadNow" style="display:block">
		   <div id="mostRecentReleases"></div>
		   <p style="font-weight:bold">All options:</p>
		   <a href="{{ site.github.url }}/download.html">Download page</a> 		   
	  </div>
</div>
