<div class="rightBox">
	 <div class="rightBoxHeader">
		   <div class="plusMinusSign"><a href="javascript:minimizeMaximize('downloadNow');"><img src="{{ site.github.url }}/img/minus.gif" class="plusMinusSign" id="downloadNow-plusMinus" /></a></div>
		   Download Now
	  </div>
	  <div class="rightBoxMain" id="downloadNow" style="display:block">
		   <div id="mostRecentReleases"></div>
		   <p style="font-weight:bold">All options:</p>
		   <a href="{{ site.github.url }}/download.html">Download page</a> 		   
	  </div>
</div>
