\documentclass{article}
\usepackage{amsmath}
\usepackage{amsfonts}
\usepackage{amssymb}
\usepackage{xspace}
\usepackage{multirow}
\usepackage{tabularx}
\usepackage[table]{xcolor}
\usepackage{graphicx}
\usepackage{xfrac}
\usepackage{geometry}

\definecolor{light-gray}{gray}{0.95} 

%<HEADER>

\newcommand{\cAxis}[1]{\cellcolor[gray]{0.95}#1}

\newcommand{\zero}{\textcolor[rgb]{0.7,0.7,0.7}{0}}

\pagestyle{empty}

\begin{document}
%<CONTENT>
\end{document}